In [2]:
import pandas as pd
import sqlite3
# Create your connection.
#cnx = sqlite3.connect('EquityTrend.db')
#df.iloc[:,0]=

In [17]:
df = pd.DataFrame([['4', '9'],['1','2'],['3','4']] , columns=['A', 'B'])
df['A'] = df['B'].apply(lambda x: x.replace('2',''))
df

   A  B
0  9  9
1     2
2  4  4

In [20]:
df = pd.DataFrame({'A': ['bat', 'foo', 'bait'],
                   'B': ['abc', 'xbar', 'xyz']})
df.replace(to_replace=r'^.ba.$', value='new', regex=True)

      A    B
0   bat  abc
1   foo  new
2  bait  xyz