In [1]:
import pandas as pd
import sqlite3
# Create your connection.
cnx = sqlite3.connect('EquityTrend.db')
df=pd.read_html('http://www.tfex.co.th/tfex/dailyMarketReport.html?periodView=A&selectedDate=P&marketListId=SF&instrumentId=&go=GO&locale=en_US')
df[0]

,Series,Contract Month,Open,High,Low,Bid,Offer,Last,Chg(%Chg),Vol,OI,Prior SP,SP
0,Single Stock Futures | Underlying Data,Single Stock Futures | Underlying Data,Single Stock Futures | Underlying Data,Single Stock Futures | Underlying Data,Single Stock Futures | Underlying Data,Single Stock Futures | Underlying Data,Trading date: 20 May 2022,Trading date: 20 May 2022,Trading date: 20 May 2022,Trading date: 20 May 2022,Trading date: 20 May 2022,Trading date: 20 May 2022,Trading date: 20 May 2022
1,AAV Futures,AAV Futures,AAV Futures,AAV Futures,AAV Futures,AAV Futures,AAV Futures,AAV Futures,AAV Futures,AAV Futures,AAV Futures,AAV Futures,AAV Futures
2,AAVM22X,Jun 22,-,-,-,2.57,-,-,-,-,5370,2.81,-
3,AAVU22X,Sep 22,-,-,-,2.20,-,-,-,-,1134,2.77,-
4,AAVZ22,Dec 22,-,-,-,-,-,-,-,-,500,2.82,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...
763,WHAUPU22,Sep 22,-,-,-,3.00,-,-,-,-,593,3.80,-
764,WHAUPZ22,Dec 22,-,-,-,-,-,-,-,-,136,3.75,-
765,WHAUPH23,Mar 23,-,-,-,-,-,-,-,-,-,3.69,-
766,Total WHAUP Futures,Total WHAUP Futures,Total WHAUP Futures,Total WHAUP Futures,Total WHAUP Futures,Total WHAUP Futures,NaN,NaN,NaN,-,2884,NaN,NaN
767,Total Single Stock Futures,Total Single Stock Futures,Total Single Stock Futures,Total Single Stock Futures,Total Single Stock Futures,Total Single Stock Futures,NaN,NaN,NaN,-,3086626,NaN,NaN

In [78]:
import http.client
import pprint

headers = {
        "Connection": "keep-alive",
        "Accept": "text/html",
        "Cookie": "visid_incap_1430333=q7Aky5U7RKSExLU8l4020TzuhGIAAAAAQUIPAAAAAADsUX4PcZBugL06sJJZOT+H",
        "User-Agent": "PostmanRuntime/7.29.0",
        "Accept-Encoding":"gzip, deflate, br"
    }

conn = http.client.HTTPSConnection("www.tfex.co.th")
conn.request("GET", "/tfex/dailyMarketReport.html?periodView=A&selectedDate=P&marketListId=SF&instrumentId=&go=GO&locale=en_US",body=None,headers=headers)
print(conn)
r1 = conn.getresponse()
header = r1.getheaders()
print(r1.status, r1.reason, r1.length, r1.version)
data1 = r1.read()  # This will return entire content.
# The following example demonstrates reading data in chunks.
# conn.request("GET", "/")
# r1 = conn.getresponse()
# while chunk := r1.read(200):
#     print(repr(chunk))
pp = pprint.PrettyPrinter(indent=4)
pp.pprint("Headers: {}".format(header))

conn.close()

<http.client.HTTPSConnection object at 0x0000022025330BB0>
503 Service Unavailable 689 11
("Headers: [('Content-Type', 'text/html'), ('Cache-Control', 'no-cache, "
 "no-store'), ('Connection', 'close'), ('Content-Length', '689'), ('X-Iinfo', "
 "'12-71184797-0 0NNN RT(1652954375471 19) q(0 -1 -1 -1) r(0 -1)')]")

In [27]:
URL = "https://www.tfex.co.th/tfex/dailyMarketReport.html?periodView=A&selectedDate=P&marketListId=SF&instrumentId=&go=GO&locale=en_US"
#path = 'tf.htm'
#with open(path, 'rt') as myfile:
#    data = myfile.read()
#import html5lib
# import http.client
# http.client.HTTPConnection._http_vsn = 10
# http.client.HTTPConnection._http_vsn_str = 'HTTP/1.0'

# df = pd.read_html(URL)
# #df
# df[0]

import urllib3
http = urllib3.PoolManager()
r = http.request('GET', URL)
r.status
#r.data

# import pycurl
# import certifi
# from io import BytesIO
# from urllib.parse import urlencode
# headers = [""]

# def header_function(header_line):
#     headers[0] += header_line

# buffer = BytesIO()
# c = pycurl.Curl()
# c.setopt(c.URL, URL)
# c.setopt(pycurl.IGNORE_CONTENT_LENGTH, 1)
# c.setopt(pycurl.HTTP_VERSION, pycurl.CURL_HTTP_VERSION_1_0) 
# c.setopt(pycurl.CONNECTTIMEOUT, 300)
# c.setopt(pycurl.TIMEOUT, 300)
# post_data = {'periodView':'B','selectedDate':'P','marketListId':'','instrumentId':'SF','go':'GO','locale':'en_US'}

# postfields = urlencode(post_data)
# c.setopt(c.POSTFIELDS, postfields)
# c.setopt(c.WRITEDATA, buffer)
# c.setopt(c.CAINFO, certifi.where())
# c.setopt(pycurl.VERBOSE, 1)
# #c.setopt(pycurl.HEADERFUNCTION, headers)
# c.perform()
# print('Time: %f' % c.getinfo(c.TOTAL_TIME))
# c.close()
# body = buffer.getvalue()
# #print(headers)
# print(body.decode('iso-8859-1'))

503

In [ ]:
#df=pd.read_html('http://www.tfex.co.th/tfex/dailyMarketReport.html?periodView=A&selectedDate=P&marketListId=SF&instrumentId=&go=GO&locale=en_US',skiprows=578)
#df=pd.read_html('https://www.tfex.co.th/tfex/dailyMarketReport.html?periodView=A&selectedDate=P&marketListId=SF&instrumentId=&go=GO&locale=en_US')
df=pd.read_html('https://www.tfex.co.th/tfex/dailyMarketReport.html?locale=en_US')
#df=pd.read_html('https://www.google.com')

In [20]:
df=df[0]
df

,Series,Contract Month,Open,High,Low,Bid,Offer,Last,Chg(%Chg),Vol,OI,Prior SP,SP
0,SET50 Index Futures | Underlying Data,SET50 Index Futures | Underlying Data,SET50 Index Futures | Underlying Data,SET50 Index Futures | Underlying Data,SET50 Index Futures | Underlying Data,SET50 Index Futures | Underlying Data,Trading date: 18 May 2022 TFEX Thailand Equit...,Trading date: 18 May 2022 TFEX Thailand Equit...,Trading date: 18 May 2022 TFEX Thailand Equit...,Trading date: 18 May 2022 TFEX Thailand Equit...,Trading date: 18 May 2022 TFEX Thailand Equit...,Trading date: 18 May 2022 TFEX Thailand Equit...,Trading date: 18 May 2022 TFEX Thailand Equit...
1,SET50 Index Futures,SET50 Index Futures,SET50 Index Futures,SET50 Index Futures,SET50 Index Futures,SET50 Index Futures,SET50 Index Futures,SET50 Index Futures,SET50 Index Futures,SET50 Index Futures,SET50 Index Futures,SET50 Index Futures,SET50 Index Futures

In [44]:

tdate = df.iloc[:1,12].apply(lambda x: x.replace('Trading date: ',''))
tdate.values[0]

'16 Jul 2021'

In [45]:
df1=df[df.Series.str.contains('Total',case=False)]
df1

,Series,Contract Month,Open,High,Low,Bid,Offer,Last,Chg(%Chg),Vol,OI,Prior SP,SP
6,Total AAV Futures,Total AAV Futures,Total AAV Futures,Total AAV Futures,Total AAV Futures,Total AAV Futures,NaN,NaN,NaN,77,14558,NaN,NaN
12,Total ADVANC Futures,Total ADVANC Futures,Total ADVANC Futures,Total ADVANC Futures,Total ADVANC Futures,Total ADVANC Futures,NaN,NaN,NaN,231,7965,NaN,NaN
18,Total AEONTS Futures,Total AEONTS Futures,Total AEONTS Futures,Total AEONTS Futures,Total AEONTS Futures,Total AEONTS Futures,NaN,NaN,NaN,78,611,NaN,NaN
24,Total AMATA Futures,Total AMATA Futures,Total AMATA Futures,Total AMATA Futures,Total AMATA Futures,Total AMATA Futures,NaN,NaN,NaN,1904,11134,NaN,NaN
30,Total AOT Futures,Total AOT Futures,Total AOT Futures,Total AOT Futures,Total AOT Futures,Total AOT Futures,NaN,NaN,NaN,135,2962,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
750,Total VNG Futures,Total VNG Futures,Total VNG Futures,Total VNG Futures,Total VNG Futures,Total VNG Futures,NaN,NaN,NaN,28,2885,NaN,NaN
756,Total VNT Futures,Total VNT Futures,Total VNT Futures,Total VNT Futures,Total VNT Futures,Total VNT Futures,NaN,NaN,NaN,471,2046,NaN,NaN
762,Total WHA Futures,Total WHA Futures,Total WHA Futures,Total WHA Futures,Total WHA Futures,Total WHA Futures,NaN,NaN,NaN,4080,38001,NaN,NaN
768,Total WHAUP Futures,Total WHAUP Futures,Total WHAUP Futures,Total WHAUP Futures,Total WHAUP Futures,Total WHAUP Futures,NaN,NaN,NaN,-,2279,NaN,NaN
769,Total Single Stock Futures,Total Single Stock Futures,Total Single Stock Futures,Total Single Stock Futures,Total Single Stock Futures,Total Single Stock Futures,NaN,NaN,NaN,262646,2667994,NaN,NaN

In [68]:
#df1=df[df.index % 6 == 0]
#pd.set_option('display.max_rows', df1.shape[0]+1)
#df2=df1.drop(df1.columns[[1,2,3,4,5,8,9]], axis=1) 
#df2 = df1.loc[:['Series','Vol','OI']]
df2 = df1[['Series','Vol','OI']]
df2

                         Series     Vol       OI
6             Total AAV Futures      77    14558
12         Total ADVANC Futures     231     7965
18         Total AEONTS Futures      78      611
24          Total AMATA Futures    1904    11134
30            Total AOT Futures     135     2962
..                          ...     ...      ...
750           Total VNG Futures      28     2885
756           Total VNT Futures     471     2046
762           Total WHA Futures    4080    38001
768         Total WHAUP Futures       -     2279
769  Total Single Stock Futures  262646  2667994

[129 rows x 3 columns]

In [78]:
df2.replace(to_replace=r'^.a.$', value='cc', regex=True)
#df2.loc[:,'Series'] = df2.loc[:,'Series'].apply(lambda x: x.replace('Total ',''))
df2

                         Series     Vol       OI
6             Total AAV Futures      77    14558
12         Total ADVANC Futures     231     7965
18         Total AEONTS Futures      78      611
24          Total AMATA Futures    1904    11134
30            Total AOT Futures     135     2962
..                          ...     ...      ...
750           Total VNG Futures      28     2885
756           Total VNT Futures     471     2046
762           Total WHA Futures    4080    38001
768         Total WHAUP Futures       -     2279
769  Total Single Stock Futures  262646  2667994

[129 rows x 3 columns]

In [18]:
    df2.iloc[:,2] = df2.iloc[:,2].apply(lambda x: x.replace(' Futures',''))
    df2.iloc[:,2] = df2.iloc[:,2].apply(lambda x: x.replace('Total ',''))
    df2 = df2.apply(lambda x: x.replace('-',0))
    
    keptDate = pd.to_datetime(tdate.values[0]).date()
    df2['TrdDate'] = pd.to_datetime(tdate.values[0]).date()
    df2
    #filter = df2["Series"]=="AAV"
    keptDate  
# printing only filtered columns 
#df2.where(filter).dropna()

C:\Users\Guy-k\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\core\indexing.py:1843: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item_labels[indexer[info_axis]]] = value

datetime.date(2021, 7, 16)

In [19]:
#sql = "select * from ssfOI where TrdDate = '"+ keptDate.strftime('%Y-%m-%d') + "'"
#print(sql)
#rst = pd.read_sql(sql, cnx)
#print(len(rst.axes[0]))
#if len(rst.axes[0]) > 0:print(rst)
#rst

In [21]:
df2.to_sql(name='ssfOITemp', con=cnx, if_exists='append')

In [22]:

p2 = pd.read_sql('select * from ssfOITemp', cnx)

In [23]:
p2

     index                      Series     Vol       OI     TrdDate
0        6           Total AAV Futures      77    14558  2021-07-16
1       12        Total ADVANC Futures     231     7965  2021-07-16
2       18        Total AEONTS Futures      78      611  2021-07-16
3       24         Total AMATA Futures    1904    11134  2021-07-16
4       30           Total AOT Futures     135     2962  2021-07-16
..     ...                         ...     ...      ...         ...
124    750           Total VNG Futures      28     2885  2021-07-16
125    756           Total VNT Futures     471     2046  2021-07-16
126    762           Total WHA Futures    4080    38001  2021-07-16
127    768         Total WHAUP Futures       0     2279  2021-07-16
128    769  Total Single Stock Futures  262646  2667994  2021-07-16

[129 rows x 5 columns]

In [137]:
p2['TrdDate'] = pd.to_datetime(p2['TrdDate'])
p2

     index        Series     Vol       OI    TrdDate
0        6           AAV      14    14519 2020-11-13
1       12        ADVANC    1203     3851 2020-11-13
2       18        AEONTS      50      309 2020-11-13
3       24         AMATA    3664     2675 2020-11-13
4       30           AOT    1164     8668 2020-11-13
..     ...           ...     ...      ...        ...
118    711           VNG       -    17512 2020-11-13
119    717           VNT       1     1895 2020-11-13
120    723           WHA   15290    42311 2020-11-13
121    729         WHAUP       6      559 2020-11-13
122    730  Single Stock  194980  1771515 2020-11-13

[123 rows x 5 columns]