In [2]:
import pandas as pd
import numpy as np

df=pd.read_html('https://classic.set.or.th/mkt/commonstocklistresult.do?market=SET&language=en&country=US')
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:123@localhost:5432/EquityTrend')



def GetDf(i):
    return df[i]

frames = [ GetDf(f) for f in range(2,len(df)) ]
df2 = pd.concat(frames)
#for i in range(1,len(df)):
    
    
    #print(df[i])
i=2
df2.rename(columns={'Index': 'index','Symbol': 'series','Sign': 'sign','Open': 'open','High': 'high','Low': 'low','Last': 'close','Change': 'change','%Change': 'pchange','Bid': 'bid','Offer': 'offer','Volume(Shares)': 'vol','Value(\'000 Baht)': 'value'}, inplace=True)
df2 = df2.replace('-','0')
print(df2)
df2['open'] = df2['open'].astype(float)
df2['high'] = df2['high'].astype(float)
df2['low'] = df2['low'].astype(float)
df2['close'] = df2['close'].astype(float)
df2['change'] = pd.to_numeric(df2['change'], errors='coerce') #df2['change'].astype(float)
df2['pchange'] = pd.to_numeric(df2['pchange'], errors='coerce') #df2['pchg'].astype(float)
df2['bid'] = df2['bid'].astype(float)
df2['offer'] = df2['offer'].astype(float)
df2['vol'] = df2['vol'].astype(int)
df2['value'] = df2['value'].astype(float)

df2['trddate'] = pd.to_datetime('today').date()
a = [0]
df2 = df2[~df2['close'].isin(a)]
print(df2)
sql = "select * from sprice where trddate = '"+ pd.to_datetime('today').strftime('%Y-%m-%d') + "'"
print(sql)

print(pd.to_datetime('today').strftime('%H'))

   series sign   open   high    low  close change pchange    bid  offer  \
0   APURE  NaN   5.10   5.15   4.98   5.10      0       0   5.05    5.1
1   ASIAN  NaN  18.00  18.10  17.90  18.00  -0.20   -1.10   18.0   18.1
2      BR  NaN   2.72   2.78   2.68   2.72      0       0    2.7   2.72
3     BRR  NaN   7.45   7.50   7.25   7.35  -0.05   -0.68    7.3   7.35
4     CBG  NaN  82.75  82.75  81.25  82.00  -0.25   -0.30   82.0  82.25
..    ...  ...    ...    ...    ...    ...    ...     ...    ...    ...
28  SYNEX  NaN  15.80  15.90  15.30  15.40  -0.40   -2.53  15.40  15.50
29  THCOM  NaN  11.90  12.20  11.40  12.20  +0.80   +7.02  12.10  12.20
30    TKC  NaN  19.20  20.00  19.20  20.00  +0.70   +3.63  19.90  20.00
31   TRUE  NaN   4.92   4.98   4.92   4.98  +0.06   +1.22   4.96   4.98
32    TWZ  NaN   0.07   0.08   0.07   0.07      0       0   0.07   0.08

         vol       value
0    2283282    11521.10
1    1592456    28671.67
2    1423132     3879.31
3    2952279    21674.06
4   12607266  1035172.82
..       ...         ...
28   1910862    29556.08
29  42250656   501463.18
30    433700     8579.79
31  77983819   386053.79
32  12096406      851.10

[655 rows x 12 columns]
   series sign   open   high    low  close  change  pchange    bid  offer  \
0   APURE  NaN   5.10   5.15   4.98   5.10    0.00     0.00   5.05   5.10
1   ASIAN  NaN  18.00  18.10  17.90  18.00   -0.20    -1.10  18.00  18.10
2      BR  NaN   2.72   2.78   2.68   2.72    0.00     0.00   2.70   2.72
3     BRR  NaN   7.45   7.50   7.25   7.35   -0.05    -0.68   7.30   7.35
4     CBG  NaN  82.75  82.75  81.25  82.00   -0.25    -0.30  82.00  82.25
..    ...  ...    ...    ...    ...    ...     ...      ...    ...    ...
28  SYNEX  NaN  15.80  15.90  15.30  15.40   -0.40    -2.53  15.40  15.50
29  THCOM  NaN  11.90  12.20  11.40  12.20    0.80     7.02  12.10  12.20
30    TKC  NaN  19.20  20.00  19.20  20.00    0.70     3.63  19.90  20.00
31   TRUE  NaN   4.92   4.98   4.92   4.98    0.06     1.22   4.96   4.98
32    TWZ  NaN   0.07   0.08   0.07   0.07    0.00     0.00   0.07   0.08

         vol       value     trddate
0    2283282    11521.10  2022-10-09
1    1592456    28671.67  2022-10-09
2    1423132     3879.31  2022-10-09
3    2952279    21674.06  2022-10-09
4   12607266  1035172.82  2022-10-09
..       ...         ...         ...
28   1910862    29556.08  2022-10-09
29  42250656   501463.18  2022-10-09
30    433700     8579.79  2022-10-09
31  77983819   386053.79  2022-10-09
32  12096406      851.10  2022-10-09

[615 rows x 13 columns]
select * from sprice where trddate = '2022-10-09'
18

In [2]:
rst = pd.read_sql(sql, con=engine)
print(len(rst.axes[0]))
if len(rst.axes[0]) == 0:df2.to_sql(name='sprice', con=engine, if_exists='append')
p2 = pd.read_sql("select * from sprice where trddate = '"+ pd.to_datetime('today').strftime('%Y-%m-%d') + "'", con=engine)
print(p2)
len(df)

0
     index series    open    high    low   close  change  pchange       value  \
0        0  APURE    6.15    6.35   6.15    6.35    0.20     3.25    10348.94
1        1  ASIAN   16.10   16.20  16.00   16.10    0.00     0.00    17775.79
2        2     BR    2.88    2.88   2.84    2.86   -0.04    -1.38     1038.81
3        3    BRR    5.20    5.25   5.00    5.10   -0.20    -3.77     3576.46
4        4    CBG  101.00  102.00  99.75  101.00   -1.00    -0.98   577063.88
..     ...    ...     ...     ...    ...     ...     ...      ...         ...
643     28  SYNEX   26.50   27.00  26.00   26.75    0.25     0.94    74170.13
644     29  THCOM   10.10   10.20  10.00   10.10    0.00     0.00    10393.61
645     30    TKC   27.75   29.25  27.25   28.50    1.25     4.59   325055.72
646     31   TRUE    5.10    5.70   5.10    5.70    0.55    10.68  4483379.94
647     32    TWZ    0.10    0.10   0.09    0.10    0.00     0.00     6115.37

        trddate  sign          vol     bid   offer
0    2022-02-20  None    1656596.0    6.30    6.35
1    2022-02-20  None    1103336.0   16.10   16.20
2    2022-02-20  None     362720.0    2.86    2.88
3    2022-02-20  None     701620.0    5.05    5.10
4    2022-02-20  None    5729047.0  100.50  101.00
..          ...   ...          ...     ...     ...
643  2022-02-20  None    2797986.0   26.50   26.75
644  2022-02-20    XD    1029316.0   10.10   10.20
645  2022-02-20  None   11441689.0   28.50   28.75
646  2022-02-20  None  821905439.0    5.65    5.70
647  2022-02-20  None   64371575.0    0.09    0.10

[648 rows x 14 columns]

29