In [40]:
import pandas as pd
import sqlite3
# Create your connection.
cnx = sqlite3.connect('EquityTrend.db')

In [41]:
#path = 'tf.htm'
#with open(path, 'rt') as myfile:
#    data = myfile.read()

#df = pd.read_html(data)
#df

In [42]:
df=pd.read_html('https://www.tfex.co.th/tfex/dailyMarketReport.html?periodView=A&selectedDate=P&marketListId=SF&instrumentId=&go=GO&locale=en_US')
#df=pd.read_html('https://www.tfex.co.th/en/products/stock-mktdata.html')
#df=pd.read_html('https://www.google.com')

In [43]:
df=df[0]
df

,Series,Contract Month,Open,High,Low,Bid,Offer,Last,Chg(%Chg),Vol,OI,Prior SP,SP
0,Single Stock Futures | Underlying Data,Single Stock Futures | Underlying Data,Single Stock Futures | Underlying Data,Single Stock Futures | Underlying Data,Single Stock Futures | Underlying Data,Single Stock Futures | Underlying Data,Trading date: 16 Jul 2021,Trading date: 16 Jul 2021,Trading date: 16 Jul 2021,Trading date: 16 Jul 2021,Trading date: 16 Jul 2021,Trading date: 16 Jul 2021,Trading date: 16 Jul 2021
1,AAV Futures,AAV Futures,AAV Futures,AAV Futures,AAV Futures,AAV Futures,AAV Futures,AAV Futures,AAV Futures,AAV Futures,AAV Futures,AAV Futures,AAV Futures
2,AAVU21,Sep 21,2.80,2.81,2.75,-,-,2.75,-0.08 (-2.83%),72,12847,2.83,2.78
3,AAVZ21,Dec 21,2.83,2.83,2.83,-,-,2.83,-,5,708,2.83,2.78
4,AAVH22,Mar 22,-,-,-,-,-,-,-,-,1003,2.84,2.79
...,...,...,...,...,...,...,...,...,...,...,...,...,...
765,WHAUPZ21,Dec 21,-,-,-,-,-,-,-,-,525,4.22,4.33
766,WHAUPH22,Mar 22,-,-,-,-,-,-,-,-,1,4.16,4.28
767,WHAUPM22,Jun 22,-,-,-,-,-,-,-,-,-,4.11,4.22
768,Total WHAUP Futures,Total WHAUP Futures,Total WHAUP Futures,Total WHAUP Futures,Total WHAUP Futures,Total WHAUP Futures,NaN,NaN,NaN,-,2279,NaN,NaN
769,Total Single Stock Futures,Total Single Stock Futures,Total Single Stock Futures,Total Single Stock Futures,Total Single Stock Futures,Total Single Stock Futures,NaN,NaN,NaN,262646,2667994,NaN,NaN

In [44]:

tdate = df.iloc[:1,12].apply(lambda x: x.replace('Trading date: ',''))
tdate.values[0]

'16 Jul 2021'

In [45]:
df1=df[df.Series.str.contains('Total',case=False)]
df1

,Series,Contract Month,Open,High,Low,Bid,Offer,Last,Chg(%Chg),Vol,OI,Prior SP,SP
6,Total AAV Futures,Total AAV Futures,Total AAV Futures,Total AAV Futures,Total AAV Futures,Total AAV Futures,NaN,NaN,NaN,77,14558,NaN,NaN
12,Total ADVANC Futures,Total ADVANC Futures,Total ADVANC Futures,Total ADVANC Futures,Total ADVANC Futures,Total ADVANC Futures,NaN,NaN,NaN,231,7965,NaN,NaN
18,Total AEONTS Futures,Total AEONTS Futures,Total AEONTS Futures,Total AEONTS Futures,Total AEONTS Futures,Total AEONTS Futures,NaN,NaN,NaN,78,611,NaN,NaN
24,Total AMATA Futures,Total AMATA Futures,Total AMATA Futures,Total AMATA Futures,Total AMATA Futures,Total AMATA Futures,NaN,NaN,NaN,1904,11134,NaN,NaN
30,Total AOT Futures,Total AOT Futures,Total AOT Futures,Total AOT Futures,Total AOT Futures,Total AOT Futures,NaN,NaN,NaN,135,2962,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
750,Total VNG Futures,Total VNG Futures,Total VNG Futures,Total VNG Futures,Total VNG Futures,Total VNG Futures,NaN,NaN,NaN,28,2885,NaN,NaN
756,Total VNT Futures,Total VNT Futures,Total VNT Futures,Total VNT Futures,Total VNT Futures,Total VNT Futures,NaN,NaN,NaN,471,2046,NaN,NaN
762,Total WHA Futures,Total WHA Futures,Total WHA Futures,Total WHA Futures,Total WHA Futures,Total WHA Futures,NaN,NaN,NaN,4080,38001,NaN,NaN
768,Total WHAUP Futures,Total WHAUP Futures,Total WHAUP Futures,Total WHAUP Futures,Total WHAUP Futures,Total WHAUP Futures,NaN,NaN,NaN,-,2279,NaN,NaN
769,Total Single Stock Futures,Total Single Stock Futures,Total Single Stock Futures,Total Single Stock Futures,Total Single Stock Futures,Total Single Stock Futures,NaN,NaN,NaN,262646,2667994,NaN,NaN

In [68]:
#df1=df[df.index % 6 == 0]
#pd.set_option('display.max_rows', df1.shape[0]+1)
#df2=df1.drop(df1.columns[[1,2,3,4,5,8,9]], axis=1) 
#df2 = df1.loc[:['Series','Vol','OI']]
df2 = df1[['Series','Vol','OI']]
df2

                         Series     Vol       OI
6             Total AAV Futures      77    14558
12         Total ADVANC Futures     231     7965
18         Total AEONTS Futures      78      611
24          Total AMATA Futures    1904    11134
30            Total AOT Futures     135     2962
..                          ...     ...      ...
750           Total VNG Futures      28     2885
756           Total VNT Futures     471     2046
762           Total WHA Futures    4080    38001
768         Total WHAUP Futures       -     2279
769  Total Single Stock Futures  262646  2667994

[129 rows x 3 columns]

In [78]:
df2.replace(to_replace=r'^.a.$', value='cc', regex=True)
#df2.loc[:,'Series'] = df2.loc[:,'Series'].apply(lambda x: x.replace('Total ',''))
df2

                         Series     Vol       OI
6             Total AAV Futures      77    14558
12         Total ADVANC Futures     231     7965
18         Total AEONTS Futures      78      611
24          Total AMATA Futures    1904    11134
30            Total AOT Futures     135     2962
..                          ...     ...      ...
750           Total VNG Futures      28     2885
756           Total VNT Futures     471     2046
762           Total WHA Futures    4080    38001
768         Total WHAUP Futures       -     2279
769  Total Single Stock Futures  262646  2667994

[129 rows x 3 columns]

In [18]:
    df2.iloc[:,2] = df2.iloc[:,2].apply(lambda x: x.replace(' Futures',''))
    df2.iloc[:,2] = df2.iloc[:,2].apply(lambda x: x.replace('Total ',''))
    df2 = df2.apply(lambda x: x.replace('-',0))
    
    keptDate = pd.to_datetime(tdate.values[0]).date()
    df2['TrdDate'] = pd.to_datetime(tdate.values[0]).date()
    df2
    #filter = df2["Series"]=="AAV"
    keptDate  
# printing only filtered columns 
#df2.where(filter).dropna()

C:\Users\Guy-k\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\core\indexing.py:1843: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item_labels[indexer[info_axis]]] = value

datetime.date(2021, 7, 16)

In [19]:
#sql = "select * from ssfOI where TrdDate = '"+ keptDate.strftime('%Y-%m-%d') + "'"
#print(sql)
#rst = pd.read_sql(sql, cnx)
#print(len(rst.axes[0]))
#if len(rst.axes[0]) > 0:print(rst)
#rst

In [21]:
df2.to_sql(name='ssfOITemp', con=cnx, if_exists='append')

In [22]:

p2 = pd.read_sql('select * from ssfOITemp', cnx)

In [23]:
p2

     index                      Series     Vol       OI     TrdDate
0        6           Total AAV Futures      77    14558  2021-07-16
1       12        Total ADVANC Futures     231     7965  2021-07-16
2       18        Total AEONTS Futures      78      611  2021-07-16
3       24         Total AMATA Futures    1904    11134  2021-07-16
4       30           Total AOT Futures     135     2962  2021-07-16
..     ...                         ...     ...      ...         ...
124    750           Total VNG Futures      28     2885  2021-07-16
125    756           Total VNT Futures     471     2046  2021-07-16
126    762           Total WHA Futures    4080    38001  2021-07-16
127    768         Total WHAUP Futures       0     2279  2021-07-16
128    769  Total Single Stock Futures  262646  2667994  2021-07-16

[129 rows x 5 columns]

In [137]:
p2['TrdDate'] = pd.to_datetime(p2['TrdDate'])
p2

     index        Series     Vol       OI    TrdDate
0        6           AAV      14    14519 2020-11-13
1       12        ADVANC    1203     3851 2020-11-13
2       18        AEONTS      50      309 2020-11-13
3       24         AMATA    3664     2675 2020-11-13
4       30           AOT    1164     8668 2020-11-13
..     ...           ...     ...      ...        ...
118    711           VNG       -    17512 2020-11-13
119    717           VNT       1     1895 2020-11-13
120    723           WHA   15290    42311 2020-11-13
121    729         WHAUP       6      559 2020-11-13
122    730  Single Stock  194980  1771515 2020-11-13

[123 rows x 5 columns]