In [3]:
import pandas as pd
#import datetime
import sqlite3
# Create your connection.
cnx = sqlite3.connect('EquityTrend.db')
df=pd.read_html('https://www.set.or.th/set/nvdrbystock.do?type=value&sort=total&language=en&country=US')
df=df[0]
#df
df.columns = df.columns.droplevel()
df.rename(columns = {'%*':'Percent'}, inplace = True)

In [4]:
#df = df.drop(df.columns[[1,2]],axis='columns')
df

,Symbol,Buy,Sell,Total,Net,Percent
0,KBANK,2600912281.05,1197275057.05,3.798187e+09,1403637224.00,32.07
1,PTTEP,977413274.00,608921560.00,1.586335e+09,368491714.00,47.57
2,BBL,589542545.00,992407200.00,1.581950e+09,-402864655.00,16.57
3,PTT,784299401.25,753919000.00,1.538218e+09,30380401.25,18.19
4,DELTA,647058858.00,754172344.00,1.401231e+09,-107113486.00,56.32
...,...,...,...,...,...,...
540,SAMCO,82.11,-,8.211000e+01,82.11,0.01
541,SELIC,63.86,-,6.386000e+01,63.86,0.01
542,GBX,51.00,-,5.100000e+01,51.00,0.01
543,JMT-W3,-,42.30,4.230000e+01,-42.30,0.00
544,MPG,-,.29,2.900000e-01,-.29,0.00

In [5]:
df['TrdDate'] = pd.to_datetime('today').date()
df['TrdDate'] = df['TrdDate'].apply(pd.DateOffset(-1)).apply(lambda x : x.date())
#df['TrdDate']= df['TrdDate']
df

,Symbol,Buy,Sell,Total,Net,Percent,TrdDate
0,KBANK,2600912281.05,1197275057.05,3.798187e+09,1403637224.00,32.07,2021-01-23
1,PTTEP,977413274.00,608921560.00,1.586335e+09,368491714.00,47.57,2021-01-23
2,BBL,589542545.00,992407200.00,1.581950e+09,-402864655.00,16.57,2021-01-23
3,PTT,784299401.25,753919000.00,1.538218e+09,30380401.25,18.19,2021-01-23
4,DELTA,647058858.00,754172344.00,1.401231e+09,-107113486.00,56.32,2021-01-23
...,...,...,...,...,...,...,...
540,SAMCO,82.11,-,8.211000e+01,82.11,0.01,2021-01-23
541,SELIC,63.86,-,6.386000e+01,63.86,0.01,2021-01-23
542,GBX,51.00,-,5.100000e+01,51.00,0.01,2021-01-23
543,JMT-W3,-,42.30,4.230000e+01,-42.30,0.00,2021-01-23
544,MPG,-,.29,2.900000e-01,-.29,0.00,2021-01-23

In [7]:
sql = "select * from sNVDR where TrdDate = '"+ df.iloc[0,6].strftime('%Y-%m-%d') + "'"
print(sql)
rst = pd.read_sql(sql, cnx)
print(len(rst.axes[0]))
#if len(rst.axes[0]) == 0:df.to_sql(name='sNVDR', con=cnx, if_exists='append')

select * from sNVDR where TrdDate = '2021-01-23'
0

In [8]:
df = df.iloc[0:50]

In [9]:
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Symbol   50 non-null     object
 1   Buy      50 non-null     object
 2   Sell     50 non-null     object
 3   Total    50 non-null     float64
 4   Net      50 non-null     object
 5   Percent  50 non-null     float64
 6   TrdDate  50 non-null     object
dtypes: float64(2), object(5)
memory usage: 2.9+ KB

,Symbol,Buy,Sell,Total,Net,Percent,TrdDate
0,KBANK,2600912281.05,1197275057.05,3.798187e+09,1403637224.00,32.07,2021-01-23
1,PTTEP,977413274.00,608921560.00,1.586335e+09,368491714.00,47.57,2021-01-23
2,BBL,589542545.00,992407200.00,1.581950e+09,-402864655.00,16.57,2021-01-23
3,PTT,784299401.25,753919000.00,1.538218e+09,30380401.25,18.19,2021-01-23
4,DELTA,647058858.00,754172344.00,1.401231e+09,-107113486.00,56.32,2021-01-23
5,SCB,731915925.00,616663791.50,1.348580e+09,115252133.50,21.90,2021-01-23
6,KTC,667591965.75,666400495.00,1.333992e+09,1191470.75,27.64,2021-01-23
7,SCC,836604219.00,424635221.00,1.261239e+09,411968998.00,36.11,2021-01-23
8,AOT,662643447.50,565068452.25,1.227712e+09,97574995.25,36.81,2021-01-23
9,CPALL,475856600.25,581823375.00,1.057680e+09,-105966774.75,33.29,2021-01-23
10,CPN,374071425.00,586853184.00,9.609246e+08,-212781759.00,22.81,2021-01-23
11,TISCO,561771110.75,303831587.50,8.656027e+08,257939523.25,23.71,2021-01-23
12,GPSC,439519325.00,347441354.00,7.869607e+08,92077971.00,22.26,2021-01-23
13,EA,404040523.00,287319775.00,6.913603e+08,116720748.00,22.87,2021-01-23
14,TOP,302152560.00,375590625.00,6.777432e+08,-73438065.00,31.84,2021-01-23
15,PTTGC,326126755.50,327653700.00,6.537805e+08,-1526944.50,30.77,2021-01-23
16,KCE,304042975.00,321620276.00,6.256633e+08,-17577301.00,21.54,2021-01-23
17,ADVANC,281726279.00,320940867.00,6.026671e+08,-39214588.00,33.03,2021-01-23
18,SAWAD,355295650.00,246861350.00,6.021570e+08,108434300.00,24.20,2021-01-23
19,CBG,391411170.00,107295163.50,4.987063e+08,284116006.50,16.08,2021-01-23
20,STGT,208146042.50,265270441.25,4.734165e+08,-57124398.75,6.95,2021-01-23
21,BDMS,175106820.00,270093331.20,4.452002e+08,-94986511.20,29.74,2021-01-23
22,INTUCH,121277257.50,304984979.75,4.262622e+08,-183707722.25,35.15,2021-01-23
23,ASIAN,228706849.30,165000489.90,3.937073e+08,63706359.40,25.28,2021-01-23
24,GULF,159972225.00,215036000.00,3.750082e+08,-55063775.00,23.75,2021-01-23
25,MTC,194235075.00,177751000.00,3.719861e+08,16484075.00,30.97,2021-01-23
26,CPF,181375075.00,177824825.00,3.591999e+08,3550250.00,21.06,2021-01-23
27,STA,176346250.00,182260600.00,3.586068e+08,-5914350.00,16.36,2021-01-23
28,HANA,179056000.00,152592500.00,3.316485e+08,26463500.00,16.04,2021-01-23
29,KTB,140772200.00,181041210.00,3.218134e+08,-40269010.00,33.67,2021-01-23
30,MINT,105035450.00,216457525.00,3.214930e+08,-111422075.00,22.62,2021-01-23
31,IVL,126841542.00,183786950.00,3.106285e+08,-56945408.00,25.47,2021-01-23
32,TMB,181833334.40,127392839.74,3.092262e+08,54440494.66,18.93,2021-01-23
33,RS,215309760.00,79644570.00,2.949543e+08,135665190.00,22.55,2021-01-23
34,TCAP,131388130.00,159187250.00,2.905754e+08,-27799120.00,41.21,2021-01-23
35,BTS,118025573.25,156219380.00,2.742450e+08,-38193806.75,29.43,2021-01-23
36,TASCO,143621216.60,130270636.70,2.738919e+08,13350579.90,10.26,2021-01-23
37,EGCO,62538657.00,193605450.00,2.561441e+08,-131066793.00,29.94,2021-01-23
38,LH,114152031.05,139048555.00,2.532006e+08,-24896523.95,30.08,2021-01-23
39,TU,64262375.00,162402960.00,2.266653e+08,-98140585.00,30.72,2021-01-23
40,DTAC,82530500.00,138966160.00,2.214967e+08,-56435660.00,34.80,2021-01-23
41,AEONTS,138995400.00,82244300.00,2.212397e+08,56751100.00,8.20,2021-01-23
42,COM7,83979780.00,129343950.00,2.133237e+08,-45364170.00,23.77,2021-01-23
43,CRC,41224975.00,171522650.00,2.127476e+08,-130297675.00,25.51,2021-01-23
44,TRUE,111921106.00,100485306.00,2.124064e+08,11435800.00,21.76,2021-01-23
45,BGRIM,78332750.00,125263035.00,2.035958e+08,-46930285.00,19.06,2021-01-23
46,HMPRO,106003020.00,95478645.20,2.014817e+08,10524374.80,44.47,2021-01-23
47,BEM,89057927.00,107983205.00,1.970411e+08,-18925278.00,20.84,2021-01-23
48,VGI,125971950.00,42737730.00,1.687097e+08,83234220.00,27.68,2021-01-23
49,RATCH,65994855.00,98358711.50,1.643536e+08,-32363856.50,27.74,2021-01-23

In [ ]:
df.loc[df['Symbol'] == 'TFI']