In [21]:
import pandas as pd
import sqlite3
# Create your connection.
cnx = sqlite3.connect('EquityTrend.db')

In [22]:
#path = 'tf.htm'
#with open(path, 'rt') as myfile:
#    data = myfile.read()

#df = pd.read_html(data)
#df

In [23]:
df=pd.read_html('https://www.tfex.co.th/tfex/dailyMarketReport.html?periodView=A&selectedDate=P&marketListId=SF&instrumentId=&go=GO&locale=en_US')
#df=pd.read_html('https://www.tfex.co.th/en/products/stock-mktdata.html')
#df=pd.read_html('https://www.google.com')

In [24]:
df=df[0]
df

,Series,Contract Month,Open,High,Low,Bid,Offer,Last,Chg(%Chg),Vol,OI,Prior SP,SP
0,Single Stock Futures | Underlying Data,Single Stock Futures | Underlying Data,Single Stock Futures | Underlying Data,Single Stock Futures | Underlying Data,Single Stock Futures | Underlying Data,Single Stock Futures | Underlying Data,Trading date: 26 Mar 2021,Trading date: 26 Mar 2021,Trading date: 26 Mar 2021,Trading date: 26 Mar 2021,Trading date: 26 Mar 2021,Trading date: 26 Mar 2021,Trading date: 26 Mar 2021
1,AAV Futures,AAV Futures,AAV Futures,AAV Futures,AAV Futures,AAV Futures,AAV Futures,AAV Futures,AAV Futures,AAV Futures,AAV Futures,AAV Futures,AAV Futures
2,AAVH21,Mar 21,2.81,2.89,2.81,-,-,2.84,+0.05 (+1.79%),67,14169,2.79,2.84
3,AAVM21,Jun 21,2.80,2.89,2.80,-,-,2.84,+0.05 (+1.79%),6658,9611,2.79,2.87
4,AAVU21,Sep 21,2.81,2.81,2.81,-,-,2.81,+0.01 (+0.36%),2001,6034,2.80,2.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...
723,WHAUPM21,Jun 21,4.31,4.31,4.31,-,-,4.31,-0.03 (-0.69%),5,2131,4.34,4.34
724,WHAUPU21,Sep 21,-,-,-,-,-,-,-,-,560,4.28,4.28
725,WHAUPZ21,Dec 21,-,-,-,-,-,-,-,-,2004,4.23,4.23
726,Total WHAUP Futures,Total WHAUP Futures,Total WHAUP Futures,Total WHAUP Futures,Total WHAUP Futures,Total WHAUP Futures,NaN,NaN,NaN,5,7072,NaN,NaN
727,Total Single Stock Futures,Total Single Stock Futures,Total Single Stock Futures,Total Single Stock Futures,Total Single Stock Futures,Total Single Stock Futures,NaN,NaN,NaN,477221,2523911,NaN,NaN

In [25]:

tdate = df.iloc[:1,12].apply(lambda x: x.replace('Trading date: ',''))
tdate.values[0]

'26 Mar 2021'

In [26]:
df1=df[df.Series.str.contains('Total',case=False)]
df1

,Series,Contract Month,Open,High,Low,Bid,Offer,Last,Chg(%Chg),Vol,OI,Prior SP,SP
6,Total AAV Futures,Total AAV Futures,Total AAV Futures,Total AAV Futures,Total AAV Futures,Total AAV Futures,NaN,NaN,NaN,8726,33052,NaN,NaN
12,Total ADVANC Futures,Total ADVANC Futures,Total ADVANC Futures,Total ADVANC Futures,Total ADVANC Futures,Total ADVANC Futures,NaN,NaN,NaN,1731,7407,NaN,NaN
18,Total AEONTS Futures,Total AEONTS Futures,Total AEONTS Futures,Total AEONTS Futures,Total AEONTS Futures,Total AEONTS Futures,NaN,NaN,NaN,188,1486,NaN,NaN
24,Total AMATA Futures,Total AMATA Futures,Total AMATA Futures,Total AMATA Futures,Total AMATA Futures,Total AMATA Futures,NaN,NaN,NaN,1208,14864,NaN,NaN
30,Total AOT Futures,Total AOT Futures,Total AOT Futures,Total AOT Futures,Total AOT Futures,Total AOT Futures,NaN,NaN,NaN,1407,5172,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
708,Total VNG Futures,Total VNG Futures,Total VNG Futures,Total VNG Futures,Total VNG Futures,Total VNG Futures,NaN,NaN,NaN,1,1605,NaN,NaN
714,Total VNT Futures,Total VNT Futures,Total VNT Futures,Total VNT Futures,Total VNT Futures,Total VNT Futures,NaN,NaN,NaN,-,160,NaN,NaN
720,Total WHA Futures,Total WHA Futures,Total WHA Futures,Total WHA Futures,Total WHA Futures,Total WHA Futures,NaN,NaN,NaN,6694,59480,NaN,NaN
726,Total WHAUP Futures,Total WHAUP Futures,Total WHAUP Futures,Total WHAUP Futures,Total WHAUP Futures,Total WHAUP Futures,NaN,NaN,NaN,5,7072,NaN,NaN
727,Total Single Stock Futures,Total Single Stock Futures,Total Single Stock Futures,Total Single Stock Futures,Total Single Stock Futures,Total Single Stock Futures,NaN,NaN,NaN,477221,2523911,NaN,NaN

In [27]:
#df1=df[df.index % 6 == 0]
#pd.set_option('display.max_rows', df1.shape[0]+1)
#df2=df1.drop(df1.columns[[1,2,3,4,5,8,9]], axis=1) 
#df2 = df1.loc[:['Series','Vol','OI']]
df2 = df1[['Series','Vol','OI']]
df2

                         Series     Vol       OI
6             Total AAV Futures    8726    33052
12         Total ADVANC Futures    1731     7407
18         Total AEONTS Futures     188     1486
24          Total AMATA Futures    1208    14864
30            Total AOT Futures    1407     5172
..                          ...     ...      ...
708           Total VNG Futures       1     1605
714           Total VNT Futures       -      160
720           Total WHA Futures    6694    59480
726         Total WHAUP Futures       5     7072
727  Total Single Stock Futures  477221  2523911

[122 rows x 3 columns]

In [28]:
    df2['Series'] = df2['Series'].apply(lambda x: x.replace(' Futures',''))
    df2['Series'] = df2['Series'].apply(lambda x: x.replace('Total ',''))
    df2 = df2.apply(lambda x: x.replace('-',0))
    
    keptDate = pd.to_datetime(tdate.values[0]).date()
    df2['TrdDate'] = pd.to_datetime(tdate.values[0]).date()
    df2
    #filter = df2["Series"]=="AAV"
    keptDate  
# printing only filtered columns 
#df2.where(filter).dropna()

<ipython-input-28-a4c1791e6eb1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Series'] = df2['Series'].apply(lambda x: x.replace(' Futures',''))
<ipython-input-28-a4c1791e6eb1>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Series'] = df2['Series'].apply(lambda x: x.replace('Total ',''))

datetime.date(2021, 3, 26)

In [29]:
#sql = "select * from ssfOI where TrdDate = '"+ keptDate.strftime('%Y-%m-%d') + "'"
#print(sql)
#rst = pd.read_sql(sql, cnx)
#print(len(rst.axes[0]))
#if len(rst.axes[0]) > 0:print(rst)
#rst

In [30]:
df2.to_sql(name='ssfOI', con=cnx)

ValueError: Table 'ssfOI' already exists.

In [135]:

p2 = pd.read_sql('select * from ssfOI', cnx)

In [136]:
p2

     index        Series     Vol       OI     TrdDate
0        6           AAV      14    14519  2020-11-13
1       12        ADVANC    1203     3851  2020-11-13
2       18        AEONTS      50      309  2020-11-13
3       24         AMATA    3664     2675  2020-11-13
4       30           AOT    1164     8668  2020-11-13
..     ...           ...     ...      ...         ...
118    711           VNG       -    17512  2020-11-13
119    717           VNT       1     1895  2020-11-13
120    723           WHA   15290    42311  2020-11-13
121    729         WHAUP       6      559  2020-11-13
122    730  Single Stock  194980  1771515  2020-11-13

[123 rows x 5 columns]

In [137]:
p2['TrdDate'] = pd.to_datetime(p2['TrdDate'])
p2

     index        Series     Vol       OI    TrdDate
0        6           AAV      14    14519 2020-11-13
1       12        ADVANC    1203     3851 2020-11-13
2       18        AEONTS      50      309 2020-11-13
3       24         AMATA    3664     2675 2020-11-13
4       30           AOT    1164     8668 2020-11-13
..     ...           ...     ...      ...        ...
118    711           VNG       -    17512 2020-11-13
119    717           VNT       1     1895 2020-11-13
120    723           WHA   15290    42311 2020-11-13
121    729         WHAUP       6      559 2020-11-13
122    730  Single Stock  194980  1771515 2020-11-13

[123 rows x 5 columns]