In [23]:
import pandas as pd
import sqlite3
# Create your connection.
cnx = sqlite3.connect('EquityTrend.db')
df=pd.read_html('https://www.set.or.th/set/shortsales.do?language=en&country=US')
df[0].rename(columns = {'Securities':'Series','Volume (Shares)':'Volume','Turnover (Baht)':'Value',
'%Short Sale Volume Comparing with Auto Matching':'Per'},inplace = True)
df[0]['TrdDate'] = pd.to_datetime('today').date()
df=df[0]

In [46]:
#df["Per"].replace({" %": ""}, inplace=True)
#df["Per"] = df["Per"].apply(lambda x: x.replace(' ',''))
df["Series"] = df["Series"].replace(["A"],"..")
#df = df.replace('-','')
df

     Series   Volume       Value     Per     TrdDate
0       AAV   447500   1242850.0  0.30 %  2021-02-25
1     AAV-R  2450100   6759192.0  1.65 %  2021-02-25
2       ACE     9800     35672.0  0.05 %  2021-02-25
3     ACE-R   177600    649690.0  0.93 %  2021-02-25
4    ADVANC   377100  62434400.0  4.06 %  2021-02-25
..      ...      ...         ...     ...         ...
227     VNT    21000    702125.0  2.39 %  2021-02-25
228   VNT-R    18700    624225.0  2.13 %  2021-02-25
229     WHA  2161600   6891160.0  4.58 %  2021-02-25
230   WHA-R  3538500  11226434.0  7.49 %  2021-02-25
231   WHAUP    64300    254760.0  0.60 %  2021-02-25

[232 rows x 5 columns]

In [13]:
df = df.replace(' ','')
df

     Series   Volume       Value     Per     TrdDate
0       AAV   447500   1242850.0  0.30 %  2021-02-25
1     AAV-R  2450100   6759192.0  1.65 %  2021-02-25
2       ACE     9800     35672.0  0.05 %  2021-02-25
3     ACE-R   177600    649690.0  0.93 %  2021-02-25
4    ADVANC   377100  62434400.0  4.06 %  2021-02-25
..      ...      ...         ...     ...         ...
227     VNT    21000    702125.0  2.39 %  2021-02-25
228   VNT-R    18700    624225.0  2.13 %  2021-02-25
229     WHA  2161600   6891160.0  4.58 %  2021-02-25
230   WHA-R  3538500  11226434.0  7.49 %  2021-02-25
231   WHAUP    64300    254760.0  0.60 %  2021-02-25

[232 rows x 5 columns]

In [7]:
df

     Series   Volume       Value     Per     TrdDate
0       AAV   447500   1242850.0  0.30 %  2021-02-25
1     AAV-R  2450100   6759192.0  1.65 %  2021-02-25
2       ACE     9800     35672.0  0.05 %  2021-02-25
3     ACE-R   177600    649690.0  0.93 %  2021-02-25
4    ADVANC   377100  62434400.0  4.06 %  2021-02-25
..      ...      ...         ...     ...         ...
227     VNT    21000    702125.0  2.39 %  2021-02-25
228   VNT-R    18700    624225.0  2.13 %  2021-02-25
229     WHA  2161600   6891160.0  4.58 %  2021-02-25
230   WHA-R  3538500  11226434.0  7.49 %  2021-02-25
231   WHAUP    64300    254760.0  0.60 %  2021-02-25

[232 rows x 5 columns]

In [ ]:
sql = "select * from sShortSell where TrdDate = '"+ pd.to_datetime('today').strftime('%Y-%m-%d') + "'"
print(sql)
rst = pd.read_sql(sql, cnx)
print(len(rst.axes[0]))
if len(rst.axes[0]) == 0:df.to_sql(name='sShortSell', con=cnx, if_exists='append')
print(df)