In [16]:
import pandas as pd
import numpy as np
import datetime
print(datetime.datetime.now().timestamp())

df=pd.read_html('https://wdn003.settrade.com/Derivatives/C13_FastQuoteMM.jsp?symbol=CPN')
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:123@localhost:5432/EquityTrend')

1661349083.561139

In [13]:
df[5]

     0                                     1
0  NaN                       Broker's Online
1  NaN                    Ayudhya Securities
2  NaN                       BFIT Securities
3  NaN                         BT Securities
4  NaN             Capital Nomura Securities
5  NaN                DBS VICKERS Securities
6  NaN                    Globlex Securities
7  NaN               Intel Vision Securities
8  NaN                  Kiatnakin Securities
9  NaN             KGI Securities (Thailand)
10 NaN                   National Securities
11 NaN                      SICCO Securities
12 NaN                      TISCO Securities
13 NaN                    TRINITY Securities
14 NaN                     UNITED SECURITIES
15 NaN               UOB Kay Hian Securities
16 NaN                                  SCIS
17 NaN                   Adkinson Securities
18 NaN                Asia Credit Securities
19 NaN  Asia Plus Securities Company Limited
20 NaN                       TSEC Securities
21 NaN                     Phatra Securities
22 NaN          Merchant Partners Securities
23 NaN               TMB Maquarie Securities
24 NaN               Prudent Siam Securities

In [ ]:
def GetDf(i):
    return df[i]

frames = [ GetDf(f) for f in range(2,len(df)) ]
df2 = pd.concat(frames)
#for i in range(1,len(df)):
    
    
    #print(df[i])
i=2
df2.rename(columns={'Index': 'index','Symbol': 'series','Sign': 'sign','Open': 'open','High': 'high','Low': 'low','Last': 'close','Change': 'change','%Change': 'pchange','Bid': 'bid','Offer': 'offer','Volume(Shares)': 'vol','Value(\'000 Baht)': 'value'}, inplace=True)
df2 = df2.replace('-','0')
print(df2)
df2['open'] = df2['open'].astype(float)
df2['high'] = df2['high'].astype(float)
df2['low'] = df2['low'].astype(float)
df2['close'] = df2['close'].astype(float)
df2['change'] = pd.to_numeric(df2['change'], errors='coerce') #df2['change'].astype(float)
df2['pchange'] = pd.to_numeric(df2['pchange'], errors='coerce') #df2['pchg'].astype(float)
df2['bid'] = df2['bid'].astype(float)
df2['offer'] = df2['offer'].astype(float)
df2['vol'] = df2['vol'].astype(float)
df2['value'] = df2['value'].astype(float)

df2['trddate'] = pd.to_datetime('today').date()
a = [0]
df2 = df2[~df2['close'].isin(a)]
print(df2)
sql = "select * from sprice where trddate = '"+ pd.to_datetime('today').strftime('%Y-%m-%d') + "'"
print(sql)

print(pd.to_datetime('today').strftime('%H'))

In [2]:
rst = pd.read_sql(sql, con=engine)
print(len(rst.axes[0]))
if len(rst.axes[0]) == 0:df2.to_sql(name='sprice', con=engine, if_exists='append')
p2 = pd.read_sql("select * from sprice where trddate = '"+ pd.to_datetime('today').strftime('%Y-%m-%d') + "'", con=engine)
print(p2)
len(df)

0
     index series    open    high    low   close  change  pchange       value  \
0        0  APURE    6.15    6.35   6.15    6.35    0.20     3.25    10348.94
1        1  ASIAN   16.10   16.20  16.00   16.10    0.00     0.00    17775.79
2        2     BR    2.88    2.88   2.84    2.86   -0.04    -1.38     1038.81
3        3    BRR    5.20    5.25   5.00    5.10   -0.20    -3.77     3576.46
4        4    CBG  101.00  102.00  99.75  101.00   -1.00    -0.98   577063.88
..     ...    ...     ...     ...    ...     ...     ...      ...         ...
643     28  SYNEX   26.50   27.00  26.00   26.75    0.25     0.94    74170.13
644     29  THCOM   10.10   10.20  10.00   10.10    0.00     0.00    10393.61
645     30    TKC   27.75   29.25  27.25   28.50    1.25     4.59   325055.72
646     31   TRUE    5.10    5.70   5.10    5.70    0.55    10.68  4483379.94
647     32    TWZ    0.10    0.10   0.09    0.10    0.00     0.00     6115.37

        trddate  sign          vol     bid   offer
0    2022-02-20  None    1656596.0    6.30    6.35
1    2022-02-20  None    1103336.0   16.10   16.20
2    2022-02-20  None     362720.0    2.86    2.88
3    2022-02-20  None     701620.0    5.05    5.10
4    2022-02-20  None    5729047.0  100.50  101.00
..          ...   ...          ...     ...     ...
643  2022-02-20  None    2797986.0   26.50   26.75
644  2022-02-20    XD    1029316.0   10.10   10.20
645  2022-02-20  None   11441689.0   28.50   28.75
646  2022-02-20  None  821905439.0    5.65    5.70
647  2022-02-20  None   64371575.0    0.09    0.10

[648 rows x 14 columns]

29